html, body {
    margin: 0;
    padding: 0;
    background-color: #18212d;
    color: white;    
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.container{
    border: 0.125rem solid white;
    margin: 1.875rem auto;
    padding: 1.25rem;
    /* max-width: 18.75rem; */
    max-width: 80%;
    border-radius:1.25rem;
}

.main-Title {
    color: white;
}

h1 {
    color:#55F991;
    text-align: left;
    margin-right: 1.25rem;
}

.top span{
    color: white;
}

button {
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 0.1875rem;
    padding: 0.3125rem 0.5rem;
    font-size: 1rem;
}

.input{
    font-size: 1rem;
    margin-top: 0.625rem;
}

input[type=number]{
    background-color: white;
    width: 20%;
    border-radius: 0.125rem;
    color:  #10B981;
}

.passwords {
    background-color: #202B3C;
    color: #55F991;
    font-size: 0.625rem;
    width: 9.375rem;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    margin: 0.3125rem;
    display: flex;
    margin-left:3.25rem;
    justify-content:space-between;
    align-items:center;
}

.copy-button{
    cursor: pointer;
    color: #55F991;
    margin-right: 1em;
}

.copy-button.hidden {
    display: none;
}

.copy-button.copied {
    color: rgb(163, 87, 235);
}

